@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-outfit: "Outfit", sans-serif;
    --font-young-serif: "Young Serif", serif;
  }
  body {
    @apply font-outfit text-base;
  }
  input:focus-visible {
    outline: none;
  }
}

@layer components {
  .btn {
    @apply rounded py-1 px-3 ease-in-out duration-200;
  }
}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
}
